<header class="header">
  <form id="headerForm" class="headerForm" action="" method="post">
    {{#if login}}
    <a class="input" href="/saved-fashion">Saved</a>
    <a class="input" href="/logout">logout</a>
    {{else}}
    <a class="input" href="/login">Login</a>
    <a class="input" href="/signup">Sign Up</a>
    {{/if}}

  </form>
</header>
<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <img src="/image/star.png" class="star" alt="star">
</div>
</div>

{{#each blogdata}}
<div class="container" id="container">
  <div class="insideContainer">
    <div class="photoAndText">
      <span>{{title}}</span>
      <img src="/image/blogImgs/{{img}}" alt="">
    </div>
    <p>{{likes}} : likes <i class="fa fa-heart-o" onclick="btnClick()"></i> </p>
    <p>
    {{article}}
    </p>
  </div>
</div>
{{/each}}

<script src="/js/functions.js" charset="utf-8"></script>
