<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <img src="./image/star.png" class="star" alt="star">
</div>
</div>

<div class="bigContainer">
<div class="container">
{{#each container}}
{{#each ../blog}}
  <div class="topContainer">
      <div class="{{../name1}}">
          <a href="/blogs/article/{{id}}" >
            <img src="./image/blogImgs/{{img}}" alt="img blog 1 ">
          </a>
          <div class="smallContainer">

              <h3 onclick="blogArticleId({{id}})">{{title}}</h3>

            <div class="likes">
              {{likes}} like
            </div>
            <p>
              {{article}}
              <a href="#">Read More ...</a>
            </p>
          </div>
      </div>
      <div class="{{../name2}}">
        <a href="/blog/article/{{id}}" onclick="blogArticleId({{id}})" >
          <img src="./image/blogImgs/{{img}}" alt="">
        </a>
        <a href="#">
          <h4>{{title}}</h4>
        </a>
        <div class="likes">{{likes}} like</div>
        <p>
        {{article}}
          <a href="#">Read More ...</a>
        </p>
      </div>
  </div>
  <div class="bottomContainer">
    <div class="{{../name3}}">
      <a href="#">
        <img src="./image/blogImgs/{{img}}" alt="">
      </a>
      <a href="#">
        <h4>{{title}}</h4>
      </a>
      <div class="likes">{{likes}}  like</div>
      <p>
      {{article}}
        <a href="#">Read More ...</a>
      </p>
    </div>
      <div class="{{../name4}}">
          <a href="#">
            <img src="./image/blogImgs/{{img}}" alt="">
          </a>
          <div class="smallContainer">
            <a href="#">
              <h3>{{title}}</h3>
            </a>
            <div class="likes">{{likes}}  like</div>
            <p>
            {{article}}
              <a href="#">Read More ...</a>
            </p>
          </div>
      </div>
    </div>
  {{/each}}
  {{/each}}
</div>
</div>
<script src="js/functions.js" charset="utf-8"></script>
