<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <img src="/image/star.png" class="star" alt="star">
</div>
</div>

{{#each blogdata}}
<div class="container" id="container" onload="showLikes({{id}})">
  <div class="insideContainer">
    <div class="photoAndText">
      <span>{{title}}</span>
      <img src="/image/blogImgs/{{img}}" alt="">
    </div>
    <p> <span id="likespan">{{likes}}</span> : likes <i class="fa fa-heart-o" onclick="btnClickLike({{id}})"></i> </p>
    <p>
    {{article}}
    </p>
  </div>
</div>
{{/each}}

<script src="/js/functions.js" charset="utf-8"></script>
