<header class="header">
  <form id="headerForm" class="headerForm">
    {{#if login}}
      <a class="input" href="/saved-fashion">Saved <i class="fa fa-heart"></i></a>
      <a class="input" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
    {{else}}
    <a class="input" href="/Login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
    <a class="input" href="/Signup">Sign Up <i class="fa signup">&#xf25d;</i></a>  {{/if}}

  </form>
</header>

<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <p></p>
  </div>
</div>
<div class="container">
  <div class="boxs">
    {{#each womenOutfits}}
      <div class="box">
        <div class="innerbox">
          <a class="a" href="#"><img src="./image/Outfits/women/{{img}}" alt="fashion"></a>
        </div>
        <p>{{title}}</p>
        <p class="info"><a><i id="{{id}}" class="fa fa-heart-o" onclick="btnClickOutfits({{id}})"></i></a></p>

      </div>
    {{/each}}
  </div>
</div>
</div>


<script src="js/functions.js"></script>
