<header class="header">
  <form id="headerForm" class="headerForm">
    {{#if login}}
      <a class="input" href="/saved-fashion">Saved <i class="fa fa-heart" aria-hidden="true"></i></a>
      <a class="input" href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    {{else}}
    <a class="input" href="/Login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
    <a class="input" href="/Signup">Sign Up <i class="fa signup">&#xf25d;</i></a>    {{/if}}

  </form>
</header>

<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <p></p>
  </div>
</div>
<div class="container">
  <div class="boxs">
    {{#each womenFashion}}
      <div class="box">
        <div class="innerbox">
          <a class="a" href="/details/{{id}}"><img src="./image/women/{{img}}" alt="fashion"></a>
        </div>
        <p>{{title}}</p>
        {{# if saved}}
          <p class="info">{{price}} NIS <a><i id="{{id}}" class="fa fa-heart" onclick="btnClick({{id}})"></i></a></p>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span id="close" class="close">&times;</span>
              <p id="text"></p>
            </div>
          </div>
          {{else}}
            <p class="info">{{price}} NIS <a><i id="{{id}}" class="fa fa-heart-o" onclick="btnClick({{id}})"></i></a></p>
            <div id="myModal" class="modal">
              <div class="modal-content">
                <span id="close" class="close">&times;</span>
                <p id="text"></p>
              </div>
            </div>
            {{/if}}

      </div>
    {{/each}}
  </div>
</div>
</div>

<script src="js/functions.js"></script>
